.footer {
    display: flex; 
    flex-direction: column; 
    padding: 20px; 
    width: 100%; 
    background-color: var(--background-color);
}

.footer-container {
    display: flex; 
    margin-bottom: 20px; 
    padding: 20px;
    border-top: 1px solid var(--secundary-color);
}



.footer-article {
    flex: 1;
    display: flex; 
    flex-direction: column; 
    align-items: flex-start;
    border-right: 1px solid var(--secundary-color);
    padding-left: 10px;
    color: var(--primary-color);
}
.footer-article:nth-child(3) {
    border: none;
}
.footer-article h3 {
    font-size: 20px;
    margin-bottom: 10px;
    
}
.footer--lists li {
    margin: 10px 10px 10px 0 ;
    font-size: 16px;
}

.footer a {
    text-decoration: none; 
    color: inherit; 
}

.footer a:hover {
    text-decoration: underline; 
}
.footer-credits{
    text-align: right;
    color: var(--primary-color);
    font-size: 16px;
}

.footer-hamburger {
    display: none; 
    font-size: 30px; 
    cursor: pointer; 
}

@media screen and (max-width:480px) {
    .footer-container{
        flex-direction: column;
    }
    .footer-article{
        padding: 0;
        margin-bottom: 20px;
        border-right: none;
        border-bottom: 1px solid var(--secundary-color);
    }
    .footer-credits{
        padding: 10px 0;
        border-top: 1px solid var(--secundary-color);
    }
}


