.growContainer {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    height: 100vh; 
    text-align: center; 
}

.growTitle {
    margin-bottom: 20px; /* Espacio entre el h2 y el párrafo */
}

.growButton {
    margin-top: 20px; 
    padding: 10px 20px; 
    cursor: pointer;
    color: aquamarine;
    
}