

header {
    position: relative; 
    height: 60px; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent; 
}

/* Header */
.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 0 20px;
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent; 
    transition: transform 0.3s ease; 
    z-index: 1000; 
}

.navbar-container.invisible {
    transform: translateY(-100%); 
}

.navbar-container.visible {
    transform: translateY(0); 
}

.navbar-hamburger {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #02CA81;  
    position: relative; 
}


@media (min-width: 768px) {
    .navbar {
        display: flex;
        flex-direction: column; 
        position: static;
        background-color: transparent;
    }

    .navbar ul {
        flex-direction: column; 
        margin-right: 20px; 
    }

    .navbar li {
        margin: 0 20px; 
    }

    .navbar-hamburger {
        display: none;
    }
}