
/* sectionTop */

.sectionTop {
    display: flex;
    justify-content: center;
}
.sectionTop-div {
    position: relative; 
    
}

.sectionTop-backgroundImage {
    display: block; 
    opacity: 70%;
}

.sectionTop-container {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: white; 
    width: 100%; 
    padding: 0 10px; 
   
}

.sectionTop-backgroundImage.blur {
    filter: blur(5px); 
    transition: filter 0.3s ease; 
}

.sectionTop-container h2 {
    font-size: 48px; 
    margin-bottom: 10px; 
}

.sectionTop-container p {
    font-size: 16px;
    margin-bottom: 30px;
}

.sectionTop-button {
    padding: 8px 60px;
   
    color: white; 
    background-color:  #02CA81; 
    border: none; 
    border-radius: 14px; 
    font-size: 16px; 
    text-decoration: none; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}

.sectionTop-button:hover {
    background-color: #2E962F; 
}

/*Section Grow*/

.sectionGrow-div {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: black;
}

.section-growContainer {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    height: 50vh; 
    width: 100%;
    text-align: center; 
    background-color: #02CA81 ;
}

.section-growTitle {
    margin-bottom: 20px; 
    font-size: 40px;
}

.section-growButton {
    
    margin-top: 20px; 
    padding: 10px 40px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background-color: #2E962F;
    display: flex; 
    justify-content: center;
    align-items: center; 
    color: black; 
    font-size: 12px; 
}

/*SectionProjects*/

.projectsSection {
    display: flex;
    align-items: center;
    height: 100vh;
}

.sectionProjects-div {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    height: 50vh;
    width: 100%;
    background-color:bisque;
    
   
}

.sectionProjects-Title {
   
   display: flex;
   font-size: 80px;
    color:var(--primary-color); 
    
}

.sectionProject-carousel {
    display: flex;
    width: 100%; 
    margin-top: 100px; 
    overflow: hidden; 
    cursor:pointer
    
}

.sectionProject-carousel-images {
    display: flex;
    width: 100%;
    gap: 80px;
    transition: transform 0.05s ease; 
}

.sectionProject-carousel-image {
    
    width: 330px; 
    height: 330px; 
    border-radius: 8px;
    margin: 0 10px; 
    overflow: hidden ;
}



/*responsive sectionTop*/
/*
 @media (max-width: 480px) {
    .sectionTop {
        text-align: center; 
    }

    .sectionTop-container {
        position: absolute; 
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%); 
        color: white; 
        z-index: 1; 
        width: 100%; 
        padding: 0 10px; 
    }

    .sectionTop-container h2 {
        font-size: 24px; 
        margin-bottom: 10px; 
        white-space: nowrap; 
        overflow: hidden; 
        text-overflow: ellipsis; 
    }

    .sectionTop-container p {
        font-size: 12px;
        margin-bottom: 20px;
    }

    .sectionTop-button {
        width: 12px; 
        height: 6px; 
        color: white;
        border: none; 
        border-radius: 25px; 
        font-size: 6px; 
        cursor: pointer; 
        transition: background-color 0.3s; 
    }


  .sectionTop-backgroundImage {
        height: 200px; 
    }
} 



/*responsive sectionGrow*/
/*
@media (max-width: 480px){

.section-growContainer {
    text-align: center; 
}

.section-growTitle  {
    font-size: 24px; 
    margin-bottom: 14px; 
}

.section-growContainer p {
    font-size: 12px;
    margin-bottom: 0.5px;
}

.section-growButton {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 40px; 
    height: 8px; 
    font-size: 8px;
    justify-content: center;
}

}

/*Responsive sectionProjects */
/*
@media (max-width: 1200px) {
    .sectionProject-carousel-image {
        width: calc(33.33% - 20px); 
    }
}

@media (max-width: 900px) {
    .sectionProject-carousel-image {
        width: calc(50% - 20px);
    }
}

@media (max-width: 600px) {
    .sectionProject-carousel-image {
        width: 100%; 
    }
}

@media (max-width: 480px) {

    .sectionProjects{
        display: flex;
        justify-content: center;
        align-content: center;
        height: 50vh;
    }
    .sectionProject-carousel-image {
        width: 100%; 
    }

    .sectionProjects-Title {
        font-size: 24px;
    }

    .sectionProject-carousel-images {
        width: 280px;
    }
}

@media (min-width: 769px) {
    .sectionProject-carousel-image {
        width: calc(25% - 20px); 
    }

    .sectionProjects {
        display: flex; 
        flex-wrap: wrap; 
        justify-content: space-between; 
       
    }

    .sectionProjects-Title {
        font-size: 72px; 
    }

    .sectionProject-carousel-images {
        display: flex;
        justify-content: center;
        width: auto; 
    }
}
