
/* sectionTop */

.sectionTop {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.sectionTop-div {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    text-align: center;
    width: 100%;
    
}


.sectionTop-backgroundImage {
    width: 100%;
    position: relative; 
    opacity: 0.7; 
    transition: filter 0.3s ease;
 }

.sectionTop-backgroundImage.blur {
    filter: blur(5px); 
    transition: filter 0.3s ease; 
}
.sectionTop-content {
    position: relative; 
    z-index: 2; 
    display: flex;
    justify-content: center;
    align-items: center;
    
    text-align: center;
}

/*animation letter*/


.animated-text-container {
    
    font-size: 140px;
    font-weight: bold;
    color: white; 
  }
  
  .animated-letter {
    display: inline-block;
    margin: 0 2px;
    transition: transform 0.6s ease-out;
  }
  
  .animated-letter:hover {
    animation: circular-motion 0.5s ease-in-out forwards;
  }
 
  @keyframes circular-motion {
    0% {
      transform: translate(0, 0) rotate(0deg);
    }
    25% {
      transform: translate(5px, -5px) rotate(90deg);
    }
    50% {
      transform: translate(10px, 0) rotate(180deg);
    }
    75% {
      transform: translate(5px, 5px) rotate(270deg);
    }
    100% {
      transform: translate(0, 0) rotate(360deg);
    }
  }
/**/
/*
.growSection {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.sectionGrow-div {
    display: flex;
    align-items: center;
    height: 100vh;
}

.section-growContainer {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    height: 50vh; 
    width: 50vw;
    border-radius: 50%;
    background-color: #02CA81 ;
}

.section-growTitle {
    margin-bottom: 20px; 
    font-size: 48px;
    color: white; 
}

.section-growButton {
    
    margin-top: 20px; 
    padding: 10px 40px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background-color: #2E962F;
    display: flex; 
    justify-content: center;
    align-items: center; 
   
    font-size: 12px; 
}

.link-growSection {
    text-decoration: none;
    color: white;
    font-size: 16px;
}
*/

.growSection {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.section-growContainer {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    background-color: #02CA81;
    transition: all 0.5s ease-in-out;
    text-align: center;
    color: white;
    padding: 20px;
}

.section-growTitle {
    font-size: 48px;
    margin-bottom: 20px;
}

.section-growButton {
    margin-top: 20px;
    padding: 10px 40px;
    border: none;
    border-radius: 8px;
    background-color: #2E962F;
    color: white;
    cursor: pointer;
}

.link-growSection {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

/*SectionProjects*/
.projectsSection {
    display: none;
    align-items: center;
    height: 100vh;
}

.sectionProjects-div {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    height: 50vh;
    width: 100%;
    background-color:bisque;
    
   
}

.sectionProjects-Title {
   
   display: flex;
   font-size: 80px;
    color:var(--primary-color); 
    
}

.sectionProject-carousel {
    display: flex;
   
    width: 100%; 
    margin-top: 100px; 
   
    cursor:pointer
    
}

.sectionProject-carousel-images {
    display: flex;
    justify-content: center;
   
    width: 100%;
    gap: 80px;
    transition: transform 0.05s ease; 
}

.sectionProject-carousel-image {
    
    width: 330px; 
    height: 330px; 
    border-radius: 8px;
    margin: 0 10px; 
    overflow: hidden ;
}

/*
.sectionProject-carousel {
    display: flex;
    overflow: hidden; 
    width: 100%; 
}



.sectionProject-carousel-image {
    width: 25%; 
    object-fit: cover; 
    transition: transform 10s ease;
}

.sectionProject-carousel-images {
    display: flex;
    transition: transform 10s ease;
}

.slide-in {
    transform: translateX(0); 
}

.slide-out {
    transform: translateX(-100%); 
}*/


/*News Section*/

.newsSection {
    display: flex;
    width: 100%;
    height: 50vh;
   
   
}

.section-newsSection {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
   
   
}

.section-newsSection h2 {
    display: flex;
    color: var(--primary-color);
    font-size: 80px;
    width: 100%;
    align-items: flex-start;
    margin-bottom: 20px;
}

.images-newsSection {
    display: flex;
   justify-content: space-between;
    width: 100%; 
    margin-top: 100px; 
   gap: 20px;
    cursor:pointer;
   
}

.card {
    width: 300px;
    height: 300px;
   

}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}



.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; 
}

.card-front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-back {
    background-color: #333; 
   
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px; 
    transform: rotateY(180deg); 
    overflow: hidden;

}

.card-back-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6; 
    position: absolute; 
   
}

.card-back a {
    color: var(--primary-color);
    text-decoration: none; 
    font-size: 20px;
}

@media (max-width: 480px){
    .sectionTop-container h2{
        font-size: 28px;
    }
    .sectionTop-container p{
        font-size: 14px;
    }
    .growSection{
        margin-top: 20px;

    }
    .section-growTitle{
        font-size: 28px;
    }
    .section-growContainer p {
        font-size: 14px;
    }
    .newsSection{
        height: inherit;
    }
}
