.main-members {
    min-height: calc(100vh - 331px);
    display: flex;
    justify-content: center;
    
}

.section-members {
    display: flex;
    flex-direction: column;
    padding: 30px 0;
    max-width: 1000px;
    width: 100%;
    
}

.members-title {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    position: relative;
    
}
.dropdownMenu{
    width: 200px;
}

.sortButton-member{
    position: absolute;
    top: 40px;
    left: 0px;
    font-size: 16px;
}
.members-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 400px;
    gap: 20px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}
.search-container{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.search-container input{
    padding: 10px 0 8px 45px;
    
    outline: none;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    flex: 1;
    color: var(--secundary-color);
    
}
  

.members-title button {
    display: flex;
    align-items: center;
    border: none;
    font-size:22px;
    color: var(--primary-color);
}

.members-title div svg {
    color: var(--primary-color);
    font-size: 30px;
    height: 100%;
    position: absolute;
    left: 0;
    margin-left: 12px;
}

.selected-member {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--primary-color);
    max-width: 300px;
    width: 100%;
    
}
.icon-container{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding: 0 20px;
}


.icon-container svg {
    font-size: 30px;
    color: var(--primary-color);
    cursor: pointer;
    
}

.selected-member  img{
    border-radius: 50%;
    width: 120px;
    margin-bottom: 20px;
    
}

.member-username h3{
    color: var(--primary-color);
    font-size: 22px;
    margin-bottom: 10px;
   
}
.member-username p {
    color: var(--primary-color);
    font-size: 14px;
    margin-bottom: 20px;
}

.followers-follows-member {
    display: flex;
    justify-content: center;
    gap: 20px;
    color: var(--primary-color);
    margin-bottom: 20px;
   
    
}


.number-follow-member{
    margin-bottom: 6px;
}

.button-members {
    padding: 8px 40px;
    font-size: 14px;
    color: var(--button-color);
    border: 1px solid var(--button-color);
    cursor: pointer;
    background: transparent;
    transition: all .2s linear;
}
.button-members:hover {
    transform: scale(1.02);
}

@media screen and (max-width:768px) {
    .members-container{
        grid-template-columns: repeat(2,1fr);  
    }
}

@media screen and (max-width:520px) {
    .members-container{
        grid-template-columns: repeat(1,1fr);  
        justify-items: center;
    }
}