.main-mycart {
    position: relative;
    height: calc(100vh - 331px);
    display: flex;
    justify-content: center;
    
}

.section-mycart {
    
   max-width: 250px;
   width: 100%;
    
}

.mycart-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--primary-color);
}

.content-mycart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
    
}

.mycart-container button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 6px;
    border: 1px solid var(--primary-color);
    font-size: 14px;
    color: var(--primary-color);

}