.main-mycart {
    
    height: calc(100vh - 331px);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.section-mycart {
    display: flex;
    flex-direction: column;
   max-width: 350px;
   width: 100%;
   height: inherit;
    
}
.items-container{
    height: 200px;
    width: 100%;
    overflow-y: auto;
    padding-right: 20px;
}
.products-mycart {
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
}

.product-details-mycart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
}

.product-details-mycart h3{
    font-size: 16px;
    color: var(--primary-color);
    
}



.img-products-mycart {
    display: flex;
    align-items: center;

}

.buttons-mycart {
    display: flex;
    align-items: center;
    gap: 10px;
}

.buttons-mycart p {
    color: var(--primary-color);
    font-size: 16px;
}

.buttonproduct-mycart {
    padding: 10px;
    border-radius: 50px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background-color: var(--secundary-color);
    font-size: 10px;
    cursor: pointer;
    font-size: 16px;
    margin: 0;
}

.buttonproduct-mycart:hover{
    transition: 0.2s linear;
    background-color: var(--primary-color);
    color: var(--secundary-color);

}

.mycart-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--primary-color);
}

.content-mycart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    
}

.mycart-container a {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    cursor: pointer;
    
}

.mycart-container a button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 6px;
    border: 1px solid var(--primary-color);
    font-size: 16px;
    color: var(--primary-color);
    cursor: pointer;
}