.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent; 
    transition: transform 0.1s ease; 
    z-index: 1000; 
}

.navbar-container.invisible {
    transform: translateY(-100%);
}

.navbar-container.visible {
    transform: translateY(0); 
}
.navbar {
    background-color: transparent;
    display: flex;
    align-items: center;

}

.navbar ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
    margin: 0;
    padding: 10px; 
}

.navbar li {
    display: inline;
    margin-right: 20px; 
}


.navbar li a {
    text-decoration: none; 
    color: var(--primary-color); 
}

.navbar li a:hover {
    text-decoration: underline;
}
