.navbar{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    align-items: center;
}
.navbar ul{
    display: flex;
    align-items: center;
    gap: 20px;
   
}

.navbar ul li a {
    text-decoration: none;
    color: var(--primary-color);
    transition: background-color 0.3s; 
    font-size: 16px;
}

.navbar ul li a:hover {
   color: var(--secundary-color);
}




.menu-display ul {
    display: flex;
    flex-direction: column;
}

.menu-display ul  li {
  margin: 10px 0;
 
  
}

.menu-display ul li a {
    text-decoration: none;
    color: #333; 
    padding: 8px 16px; 
    display: block; 
}

.close-container{
    display: flex;
    justify-content: flex-start;
    padding: 2px 0 0 2px;
}
.close-container div{
    width: 40px;
    height: 40px;
    display: flex;
    border: none;
}

.close-container svg{
    font-size: 30px;
}

.menu-icon{
    display: none;
}

@media screen and (max-width:800px) {
    .menu-icon{
        display: block;
    }
    .navbar .navbar-ul{
        display: none;
        
       
    }
}