.navbar{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    align-items: center;
}
.navbar ul{
    display: flex;
    align-items: center;
    gap: 20px;
   
}

.navbar ul li a {
    text-decoration: none;
    color: green;
    transition: background-color 0.3s; 
    font-size: 18px;
}

.navbar ul li a:hover {
   color:  #2E962F;
}


.menu-display{
    position: absolute;
    width: 200px;
    height: 100vh;
    background-color: wheat;
    top: 0;
    right: 0;
    z-index: 100;
    padding: 10px 0;
    display: flex;
    
}

.menu-display ul {
    display: flex;
    flex-direction: column;
}

.menu-display ul  li {
  margin: 10px 0;
 
  
}

.menu-display ul li a {
    text-decoration: none;
    color: #333; 
    padding: 8px 16px; 
    display: block; 
}

.close-container{
    display: flex;
    justify-content: flex-start;
    padding: 2px 0 0 2px;
}
.close-container div{
    width: 40px;
    height: 40px;
    display: flex;
    border: none;
}

.close-container svg{
    font-size: 30px;
}


