.main-profile-container {
    display: flex;
    justify-content: center;
}

.section-profile--container{
    height: calc(100vh - 256px);
    width: 1200px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    
}

/*UserProfile*/
.profile-container {
    display: flex;
    justify-content: space-between;
    width: 980px;
    height: 246px;
    padding: 20px;
    background-color: rgb(37, 107, 37);
}
.camera-icon {
    align-self: flex-start;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.profile-info {
    
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 900px;
}
.user-info {
    display: flex;
    align-items: center;
}

.profile-picture {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    cursor: pointer;
}

.info-user-follow {
 display: flex;
 flex-direction: column;
 align-items: start;
 padding: 10px;
}
.user-name {
    margin-bottom: 10px;
    font-size: 30px;
    color:white
}
.user-follows {
   
    font-size: 16px;
    color: var(--primary-color);
}

.edit-settings-user {
    display: flex;
    justify-content: end;
    align-items: center;
}

.edit-data {
    width: 122px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--primary-color);
    border: 1px solid  var(--primary-color);
}

.morevert-icon {
    color: var(--primary-color);
    cursor: pointer; 
}

/*NavigationBar*/

.navigation-bar-profile {
    display: flex;
    justify-content:flex-start ;
    gap:20px;
    margin-top: 20px;
    width: 980px;
    border-bottom: 1px solid var(--primary-color);
    padding: 20px;
   
    
}

.navigation-bar-profile a{
    
    font-size: 18px;
    text-decoration: none;
    color: var(--primary-color);
   
   
}

/*Profile-content*/

.profile-content {
   width: 980px;
   
   display: flex;
   flex-direction: column;
   margin-top: 20px;
   padding: 20px;
}

.profile-edit {
    display: flex;
   justify-content: space-between;
}

.profile-edit h3 {
    font-size: 30px;
    color: var(--primary-color);
}

.edit-profile-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 142px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    cursor: pointer;
}
.registration-container {
    display: flex;
    align-items: flex-start;
    color: var(--primary-color);
    margin-top: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid  var(--primary-color);;
}


/*About me*/

.about-me-container {
    width: 980px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding: 20px;
}
.about-me-container h3 {
   display: flex;
   justify-content: flex-start;
   margin-bottom: 20px;
   font-size: 22px;
   color: var(--primary-color);
   cursor: text;
}

.about-me-textarea {
    width: 630px;
    height: 100px;
    resize: none;
    border-color: var(--primary-color);
}

.projects-container {
    width: 980px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid var(--primary-color);
}

.projects-container h3 {
    font-size: 22px;
    color: var(--primary-color);
}

.projects-container a {
    text-decoration: none;
    color: var(--primary-color);
    cursor: pointer
   
}
.projects-container a:hover {
    color: var(--secundary-color);
}


/*Responsive*/



/* Estilos generales para pantallas grandes (desktops) */


/*Responsive */
/* @media (max-width: 1024px) {
    .profile-container {
        width: 90%; 
    }

    .header-container {
        padding: 10px; 
        height: auto; 
    }

    .profile-info img {
        width: 80px; 
        height: 80px;
    }

    .user-details h2 {
        font-size: 30px; 
    }

    .edit-data {
        margin-left: 20px; 
    }
}

@media (max-width: 1024px) {
    .profile-container {
        width: 90%; 
        margin: 0 auto; 
    }

    .header-container {
        padding: 10px;
        height: auto; 
    }

    .profile-info {
        display: flex;
        flex-direction: column; 
        align-items: center; 
        margin: 0 auto; 
    }

    .profile-info img {
        width: 80px; 
        height: 80px;
    }

    .user-details h2 {
        font-size: 30px; 
        text-align: center; 
    }

    .edit-data {
        margin-left: 0; 
        width: 100%; 
        display: flex; 
        justify-content: center; 
    }

    .morevert-icon {
        position: relative; 
        top: 0; 
        left: 0; 
        margin: 10px 0; 
    }

    .navigation-bar-profile {
        flex-direction: column; 
        align-items: center; 
    }

    .navigation-bar-profile a {
        padding: 10px; 
        font-size: 16px; 
        width: 100%; 
        text-align: center; 
    }

    .about-me {
        width: 100%; 
        box-sizing: border-box; 
    }

    .projects-container {
        flex-direction: column; 
        align-items: center; 
        width: 100%; 
    }

    .add-project-button {
        width: 100%; 
        margin-top: 10px; 
    }
}

@media (max-width: 768px) {
    .profile-container {
        width: 90%; 
        margin: 0 auto; 
    }

    .header-container {
        padding: 10px; 
        height: auto; 
        display: flex; 
        justify-content: space-between; 
        align-items: center; 
    }

    .profile-info {
        display: flex;
        flex-direction: column; 
        align-items: center; 
        margin: 0 auto; 
    }

    .profile-info img {
        width: 70px;  
        height: 70px; 
    }

    .user-details h2 {
        font-size: 26px; 
        text-align: center; 
    }

    .edit-data {
        margin-left: 0; 
        width: 100%; 
        display: flex; 
        justify-content: center; 
    }

    .morevert-icon {
        position: relative; 
        top: 0; 
        left: 0; 
        margin: 10px 0; 
        width: 20px; 
        height: 20px; 
    }

    .navigation-bar-profile {
        flex-direction: column; 
        align-items: center; 
    }

    .navigation-bar-profile a {
        padding: 10px; 
        font-size: 16px; 
        width: 100%; 
        text-align: center; 
    }

    .about-me {
        width: 100%; 
        padding: 10px; 
        box-sizing: border-box; 
        margin: 0 auto;
    }

    .projects-container {
        flex-direction: column; 
        align-items: center; 
        width: 100%; 
    }

    .add-project-button {
        width: 100%; 
        margin-top: 10px; 
    }
}


@media (max-width: 480px) {
    .header-container {
        padding: 5px; 
        display: flex; 
        justify-content: space-between;
       
        align-items: center; 
    }

    .profile-info img {
        width: 50px; 
        height: 50px;
    }

    .user-details h2 {
        font-size: 20px; 
    }

    .edit-profile-button {
        display: none; 
    }

    .followers-info {
        display: flex;
        flex-direction: column; 
        align-items: center; 
    }

    .edit-data-container {
        display: flex;
        justify-content: flex-end;
    }

    .morevert-icon {
        margin-left: 20px; 
        width: 20px; 
        height: 20px; 
    }

    .edit-data {
        display: none; 
    }

    .projects-container {
        flex-direction: column; 
        align-items: center; 
    }

    .add-project-button {
        width: 100%;
    }

    .editicon {
        width: 20px; 
        height: 20px; 
        display: block; 
    }
} */