.project-container{
    display: flex;
    padding-top: 40px;
    min-height: calc(100vh - 331px);
}
.project-container--section{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    height:unset;
    max-width: 900px;
    width: 100%;
    border-radius: 30px;
    margin: 0 auto;
    background-color: white;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}
.project-container--article, .project-container--aside-container{
    width: 50%;
    transition: all 1s linear;
}
.project-container--article{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 40px;
    height: 100%;
    background: linear-gradient(to right,var(--primary-color) 50%, transparent 50%);
    border-radius: 24px;
    transform: translateX(0px)
}
.project-container--article-top{
    padding-top: 20px;
    color: var(--secundary-color);
    flex: 1;
    width: 100%;

}
.project-container--article-top div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}
.project-container--article-top p{
    font-size: 20px;
    width: 50%;
    text-align: start;
}
.project-container--article--squarePicture{
    background-color: white;
    padding: 10px;
    display: flex;
    width: 250px;
    height: 250px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.image-container-projectcard {
    transition: transform 0.3s ease;
    height: 100%;
}
.image-container-projectcard img{
    width: 100%;
    height: 100%;
}

.image-container-projectcard:hover {
    transform: scale(3)
}
.project-container--article--squarePicture div{
   width: 100%;
   background-color: var(--primary-color);
   
    
}


.project-container--article-button{

    flex: 1;
    text-align: left;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;

}

.project-container--aside-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    
}
.containerinfo-projectcard{
    flex: 1;
    padding-top: 20px;
}

.author-container-projectcard {
    display: flex;
    flex-direction: column;
    
}

.author-link-projectcard {
    font-size: 16px;
    color: var(--secundary-color);
    margin-bottom: 10px;
    text-decoration: none;
    word-break: break-all;
}
.author-container-projectcard p {
    
    font-size: 16px;
    color: var(--secundary-color);
    margin-bottom: 12px;
    max-width: 180px;
    word-break: break-all;
   
    
   
}

.author-container-projectcard p a {
    color: var(--secundary-color);
    text-decoration: none;
   
  
}
.aside-info-projectcard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
   
    margin-bottom: 20px;
}
.aside-info-projectcard p {
   word-break: break-all;
   text-align: start;
   margin-bottom: 12px;
}
.aside-info-projectcard textarea {
    width: 100%;
    height: 150px;
    resize: none;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}


.aside-info-projectcard h2 {
    color: var(--primary-color);
    font-size: 20px;
    margin-bottom: 12px ;

}
.aside-info-projectcard p {
    font-size: 16px;
    color: var(--primary-color);
}
.asidecontainer-info-method{
    height: 100%;
    position: absolute;
    left: 0;
    transform: translateY(-830px);
    visibility: hidden;
    transition: all .7s linear;
    padding: 20px 20px;
}

.aside-info-method {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    
}
.asidecontainer-info-method h2 {
    font-size: 20px;
    color: var(--primary-color);
    margin-bottom: 20px;
}


.methodcontainer-method h2 {
    font-size: 20px;
}
.methodcontainer-method p, .aside-info-method p {
    color: var(--primary-color);
    font-size: 16px;
}

.showAsideInforMethod{
    position: absolute;
    left: 0;
    transform: translateY(0px);
    visibility: visible;
    transition-delay: .5s;
    transition: all 1s linear;
}
.moveLeft{
    transform: translateX(-480px)
}
.moveRight{
    transform: translateX(490px)
}
.hidden{
    overflow: hidden;
}
.outOfContainer{
    position: absolute;
}
.bottom{
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
}
.initial-top{
    position: absolute;
    top: -400px;
    
}
.top{
    position: absolute;
    padding: 0 40px;
    top: 0;
    left: 0;
    width: 50%;

}

.moreinfo-projectcard {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    padding: 0 40px;
    margin-bottom: 20px;
    flex: 1;
}

.moreinfo-projectcard svg{
    color: var(--primary-color);
    font-size: 36px;
    cursor: pointer;
   
}

.currentuser-input-conatiner-projectcard input, .editing-input{
    border: 1px solid var(--primary-color);
    font-size: 16px;
    color:var(--secundary-color);
    width: 100%;
    height: 32px;
    border-radius: 6px;
    outline: none;
    margin-bottom: 12px;
   
}

.editing-aside-input { border: 1px solid var(--primary-color);
    font-size: 16px;
    color:var(--primary-color);
    width: 100%;
    height: 32px;
    border-radius: 6px;
    outline: none;
    margin-bottom: 12px;

}
/* UploadProject */

.properties-values{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    padding: 10px;

}

.properties-value-span{
    padding: 4px;
    border: 1px solid green;
    border-radius: 4px;
    cursor: pointer;
}
