.main-projects {
    min-height: calc(100vh - 331px);
    display: flex;
    justify-content: center;
}

.section-projects {
    width: 900px;
    
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.container-projects {
    max-height: 340px;
    height: 100%;
    display: flex; 
   align-items: stretch;
   border:1px solid var(--secundary-color);
   
}

.link-to-project {
    width: 100%;
    height: 100%;
    position: relative;
    transition: all 1s linear;
}
.overlay::before{
    content: 'Show project';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    transition: all 0.4 linear;
    background-color: #333;
    opacity: 0.4;
    color: var(--secundary-color);
}

.image-projects {
    display: flex;
    flex: 1;
    height: 100%; 
}

.image-projects img {
    width: 100%; 
    height: 100%; 
}

.info-projects {
    flex: 1; 
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    
}
.usercontainer-projects {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    

}

.usercontainer-projects img {

    border-radius: 50%;
    width: 50px;
    height: 50px;

}

.user-projects {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.username-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-left: 10px;
    color: var(--primary-color);
    font-size: 16px;
    
}
.username-container p{
    margin-top: 4px;
}
.moreverticon-projects {
    color: var(--primary-color);
}

.date-projects {
    display: flex;
    gap: 6px;
}

.username-projects {
    display: flex;
    
    width: 100%;
}
.nameproject-projects{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    border-bottom: 1px solid var(--primary-color);
}
.nameproject-projects h2 {
    margin: 20px 0;
    font-size: 24px;
    text-align: left;
    color: var(--primary-color);
}

.nameproject-projects p {
    display: flex;
    text-align: left;
    color: var(--primary-color);
    font-size: 16px;
}

.visualizations-projects {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 6px;

}

.visualizations-projects p {
    color: var(--primary-color);
    font-size: 16px;
    
}
.visualizations-projects svg{
    cursor: pointer;
    transition: all .1s linear;
}
.visualizations-projects svg:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.fav-icon-projects {
    color: red;
}


