.main-settingsprofile {
    display: flex;
    justify-content: center;
    min-height: calc(100vh - 331px);
    
}

.section-settingsprofile {
    display: flex;
    flex-direction: column;
    height: inherit;
    max-width: 900px;
    width: 100%;
}

.asidetop-settingsprofile {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    max-width: 800px; 
    width: 100%;
   
    
}

.asidetop-settingsprofile h1 {
    font-size: 30px;
    margin: 30px 0;
    color: var(--primary-color);
}


.navigationbar-settingsprofile {
   display: flex;
   gap: 30px;
}

/*.navigationbar-settingsprofile::after {
    content: '';
    position: absolute;
    bottom: 850px;
    width: 6%;
    right:70%;
    border-bottom: 3px solid var(--primary-color);
}
*/

.navigationbar-settingsprofile a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 16px;
}

.asidebottom-settingsprofile {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    width: 100%;
    margin-top: 40px;
}
.account-container-settingsprofile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    width: 100%;
    border-bottom: 1px solid var(--primary-color);
    padding-bottom: 8px;
}

.account-container-settingsprofile h2 {
    color: var(--primary-color);
   
   
   
}

.accounttitle-settingsprofile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 40px;
   
}



.accounttitle-settingsprofile h2 {
    color: var(--primary-color);
    font-size: 24px;
    margin-bottom: 20px; 
}

.accounttitle-settingsprofile p {
    color: var(--primary-color);
    font-size: 16px;
   
}

.accountbuttons-settingsprofile {
    display: flex;
    gap: 24px;
    display: none;
}

.cancelbutton-settingsprofile {
    color: var(--primary-color);
   padding: 8px 20px;
   border-radius: 2px;
   border: 1px solid var(--primary-color);
   background-color: var( --background-color);
   cursor: pointer;
   font-size: 16px;
}

.updatebutton-settingsprofile {
    color: var(--background-color);
    background-color: var(--button-color);
    padding: 8px 20px;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    font-size: 16px;
}

.info-container-settingsprofile {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    max-width: 800px;
    width: 100%;
    margin-top: 40px;
    
}

.info-container-settingsprofile h3, .personalinfo-title-settingsprofile h3{
    color: var(--primary-color);
    font-size: 20px;
}

.info-container-settingsprofile p {
    color: var(--primary-color);
    font-size: 16px;
    margin-top: 20px;
}

.form-settingsprofile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 800px;
    width: 100%;
   
}

.name-container-settingsprofile {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    width: 100%;
    
}
.name-settingsprofile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 40px 0  ;   
}

.name-settingsprofile input,
.input-name-settingsprofile input {
    padding: 8px 2px;
    font-size: 16px;
    border: 1px solid var(--primary-color);
    outline: none;
    border-radius: 2px;
    margin-bottom: 10px;
    background-color: var(--background-color);
    transition: border-color 0.3s ease;
    width: 340px;
}

.name-settingsprofile input:focus {
    border-color: var(--secundary-color);
}


.label-settingsprofile {
    margin-bottom: 10px;
    color: var(--primary-color);
    font-size: 16px;
}



.personalinfo-title-settingsprofile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}


.personalinfo-title-settingsprofile p {
    color: var(--primary-color);
    font-size: 16px;
    margin-top: 20px;
}

.personalinfo-input-settingsprofile {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    width: 100%;
    
}
.input--container-settingsprofile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px 0;
}

.input-name-settingsprofile {
    display: flex;
    align-items: center; 
}

.accountbuttons-bottom-settingsprofile {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    max-width: 800px;
    width: 100%;
    gap: 24px;
}

