.main-userdataregister {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 4px;
   
}


.register-sectioncomplement{
    display: flex;
    flex-direction: column;
    
    max-width: 500px;
    width: 100%;
    
    height: inherit;
    padding: 20px;
    
}

.title-userDataRegister {
    color: var(--primary-color);
    font-size: 24px;
    margin-bottom: 20px;
    
}

.form-userDataRegister {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.container-input-userDataRegister {
    display: flex;
    justify-content: center;
    gap: 20px;
   
   width: 100%;
}
.info-input-userDataRegister {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    color: var(--primary-color);
    
}

.label-userDataRegister {
    font-size: 12px;
    margin-bottom: 8px;
}


.info-input-userDataRegister input {
    padding: 10px 8px;
    outline: none;
    font-size: 12px;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    margin-bottom: 20px;
}
input:hover{
    box-shadow: rgb(232, 237, 235) 0px 0px 0px 3px;
}
input:focus{
    box-shadow: var(--secundary-color) 0px 0px 0px 3px;
    border-color: rgb(255, 255, 255);
}

.button-userDataRegister {
    background-color: transparent;
    color: var(--primary-color);
    font-size: 12px;
   
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    padding: 8px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 8px;
}

.active {
    color: white;
    background-color: var(--primary-color);
}

.register-sectioncomplement h4 {
    color: var(--primary-color);
    font-size: 12px;
    margin-bottom: 12px;
}